header {
	height: 20%;
	min-height: 100px;
}

#logoDiv {
	height: 20%;
	min-height: 100px;
	width: 100%;
	background: linear-gradient(to right, #b5b5b5 0%,#ffffff 50%,#b5b5b5 100%);
	position: fixed; 
	top: 0;
	text-align: center;
}

#logoImage {
	height: 100%;
	width: 40%;
}

/* SCREEN 1 e 2 */
@media screen and (min-width: 550px){
	#logoImage { min-width: 440px; }
}

/* SCREEN 3 */
@media screen and (max-width: 549px){
	#logoImage { min-width: 400px; }
}

/* SCREEN 4 */
@media screen and (max-width: 439px){
	#logoImage { min-width: 360px; }
}